# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
*.lock.hcl
*.tfplan

# Python
.venv/
__pycache__/
.pytest_cache/
tempCodeRunnerFile.py
get-pip.py
.python-version
.env
.coverage

# Node
node_modules/
dist/

# OS / editor
.DS_Store
.idea/
.vscode/
